<div th:fragment="header">
  <nav class="header flex justify-around w-full mt-5 mb-5">
    <div class="w-2/6 flex justify-between">
      <a class="hover:underline hover:text-blue-600" th:href="@{/}" th:text="#{main.page}">Main page</a>
      <a class="hover:underline hover:text-blue-600" th:href="@{/books}" th:text="#{books.page}">Books page</a>
      <div class="w-1/2 flex justify-around" th:if="${profileLink}">
        <a th:href="@{/profile}" th:text="#{profile.linkLabel}"></a>
        <a th:href="@{/users}" th:text="#{users.pageLabel}"></a>
      </div>
      <div class="w-1/2 flex justify-around" th:unless="${profileLink}">
        <a class="hover:underline hover:text-blue-600" th:href="@{/login}" th:text="#{loginLabel}">Log in</a>
        <a class="hover:underline hover:text-blue-600" th:href="@{/register}" th:text="#{registerLabel}">Register</a>
      </div>
    </div>
    <div class="">
      <div class="rounded-full border-4 border-blue-500">
        <a class="rounded-full pl-2 py-1 pr-3" href="?language=en" data-th-text="#{label.lang.en}" th:classappend="__${#locale}__ == 'en' ? 'bg-blue-500 text-white' : ''"></a>
        <a class="rounded-full pr-2 py-1 pl-3" href="?language=ru" data-th-text="#{label.lang.ru}" th:classappend="__${#locale}__ == 'ru' ? 'bg-blue-500 text-white' : ''"></a>
      </div>
    </div>
  </nav>
</div>