<div th:fragment="header">
  <nav class="header flex justify-between w-full mt-5 mb-5 items-center">
      <a class="mb-4 mr-2 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
         th:href="@{/}">
        <img th:src="@{/logo.png}"
             class="w-10"
             alt=""
             loading="lazy" />
      </a>
    <div class="">
      <div class="rounded-full border-4 border-blue-500">
        <a class="rounded-full pl-2 py-1 pr-3" href="?language=en" data-th-text="#{label.lang.en}" th:classappend="__${#locale}__ == 'en' ? 'bg-blue-500 text-white' : ''"></a>
        <a class="rounded-full pr-2 py-1 pl-3" href="?language=ru" data-th-text="#{label.lang.ru}" th:classappend="__${#locale}__ == 'ru' ? 'bg-blue-500 text-white' : ''"></a>
      </div>
    </div>

    <div class="">
      <div class="w-1/2 flex justify-around" th:if="${loginedUser != null}">
        <a href="/profile">
          <img th:if="${loginedUser.photo != ''}" th:src="@{${'/user-photos/' + loginedUser.id +'/'+ loginedUser.photo}}" class="w-20 h-20" />
          <img th:unless="${loginedUser.photo != ''}" th:src="@{${'/user-photos/user.png'}}" class="w-20" />
        </a>
      </div>
      <div class="w-1/2 flex justify-around" th:unless="${loginedUser != null}">
        <a href="/login">Login</a>
      </div>
    </div>
  </nav>
</div>