<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Site Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}"></div>

<form class="grid gap-2 max-w-xs mx-auto" method="post" th:action="@{${'/post/' + post.id +'/edit'}}">
  <div class="flex flex-col">
    <label th:text="Title" for="title" />
    <input type="text" id="title" name="title" placeholder="Title" th:value="${post.title}" class="border-2 rounded-md px-2 py-1">
  </div>
  <div class="flex flex-col">
    <label th:text="Text" for="text" />
    <textarea name="text" id="text" placeholder="Enter text" th:text="${post.text}" class="border-2 rounded-md px-2 py-1"></textarea>
  </div>
  <button
          class="text-center rounded-md px-2 py-1 text-white bg-blue-500"
          type="submit"
          th:text="#{submitLabel}">
  </button>
</form>
</body>
</html>