<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<div th:text="#{home.welcome}"></div>
<div class="flex flex-col ">
  <h1>Site Blog</h1>
  <div th:each="el : ${posts}" class="border-2 border-solid border-black">
    <h3 th:text="${el.title}"/>
    <h3 th:text="${el.text}"/>
<!--    <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Details</a>-->
  </div>
</div>
</body>
</html>