<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<form class="grid gap-2 max-w-xs mx-auto" th:action="@{/login}" th:object="${suspect}" method="POST">
  <div>
    Do not have an account? <a href="/register">Create an account</a>
  </div>
  <div class="flex flex-col">
    <label th:text="#{form.emailLabel} + ': '" for="email" />
    <input
            type="email"
            id="email"
            placeholder="example@ex.com"
            th:field="*{email}"
            class="border-2 rounded-md px-2 py-1"
    >
  </div>
  <div class="flex flex-col">
    <label th:text="#{form.passwordLabel} + ': '" for="password" />
    <input
            type="password"
            id="password"
            placeholder="password"
            th:field="*{password}"
            class="border-2 rounded-md px-2 py-1"
    >
  </div>
  <button
          class="text-center rounded-md px-2 py-1 text-white bg-blue-500"
          type="submit"
          th:text="#{submitLabel} ">
  </button>
</form>
</body>
</html>