<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Site Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-50">
  <h1>Site Blog</h1>
  <div th:each="el : ${post}" class="alert alert-info mt-2">
    <h1 th:text="${el.title}"/>
    <p th:text="${el.full_text}"/>
    <p><b>Views:</b> <span th:text="${el.views}" /></p>
    <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
    <form th:action="'/blog/' + ${id} + '/delete'" method="post">
      <button type="submit" th:href="'/blog/' + ${el.id} + '/delete'" class="btn btn-warning">Delete</button>
    </form>
  </div>
</div>
</body>
</html>