<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<h2  class="page-title text-2xl" th:text="#{profile.text}"></h2>
<div class="profile-name">
  <img th:if="${profiler.photo != ''}" th:src="@{${'/user-photos/' + profiler.id +'/'+ profiler.photo}}" class="w-20 h-20" />
  <img th:unless="${profiler.photo != ''}" th:src="@{${'/user-photos/user.png'}}" class="w-20" />
  <h1><span th:text="#{profile.welcomeLabel} + ', '"></span><span th:text="${profiler.name}"></span>!</h1>
  <p><span th:text="#{form.emailLabel} + ': '"></span><span th:text="${profiler.email}"></span></p>
  <h1 th:text="#{form.roleLabel}"/>
  <div th:each="role : ${profiler.roles}">
    <h2 th:text="${role.name}"/>
  </div>
  <div class="mt-2 mb-2">
    <a class="hover:underline hover:text-blue-600" href="/logout" th:text="#{profile.logoutLabel}"></a>
  </div>
  <a th:if="${profiler.hasRole('AUTHOR')}" class="hover:underline hover:text-blue-600" href="/post-add" th:text="'Add post'"></a>
  <form class="mt-2 mb-2" th:action="@{/profile/setAuthor}" method="POST">
    <button class="hover:underline hover:text-blue-600" type="submit" th:text="#{set.author}"></button>
  </form>
  <form class="mt-2 mb-2" th:action="@{/profile/setAdmin}" method="POST">
    <button class="hover:underline hover:text-blue-600" type="submit" th:text="'Set ADMIN'"></button>
  </form>
  <h1>My posts</h1>
  <div th:each="el : ${loginedUser.posts}" class="border-2 border-solid border-black mt-4">
    <h3 th:text="${el.title}"/>
    <h3 th:text="${el.text}"/>
    <!--    <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Details</a>-->
  </div>
</div>
</body>
</html>